<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book hotels, tours & activities - Wibbly</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./css/test.css" />
    <link rel="shortcut icon" href="./img/pink.png" type="image/x-icon" />
  </head>
  <body class="container">
    <div class="overlay"></div>
    <header class="header">
      <div class="box-left"><img src="./img/pink.png" alt="logo" /></div>
      <div class="box-right">
        <button class="btn btn-bookings">
          My bookings
          <svg class="btn-icon">
            <use xlink:href="./img/symbol-defs.svg#icon-credit-card"></use>
          </svg>
        </button>
        <button class="btn btn-notification">
          Notifications
          <svg class="btn-icon">
            <use xlink:href="./img/symbol-defs.svg#icon-notifications-outline"></use>
          </svg>
        </button>
        <button class="btn btn-profile">
          Profile
          <svg class="btn-icon">
            <use xlink:href="./img/symbol-defs.svg#icon-user"></use>
          </svg>
        </button>
        <div class="profile-content">
          <button class="btn btn-signup">Signup</button>
          <button class="btn btn-login">Login</button>
        </div>
      </div>
    </header>

    <div class="overview">
      <div class="popup-menu-list bookings-list">
        <!-- <h2 class="heading heading-booking-warning">You currently have no bookings ☹️</h2> -->
        <div class="booking">
          <img
            src="https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80"
            alt=""
          />
          <div class="booking-title-box">
            <p class="heading heading-booking-title">Hotel transalvania</p>
            <p class="heading heading-booking-date">20, Jan 2021</p>
          </div>
        </div>
      </div>

      <div class="popup-menu-list notifications-list">
        <!-- <h2 class="heading heading-booking-warning">No notifications at this moment ✨</h2> -->
        <p class="notification">
          🌟 Your booking for hotel transalvania for 20, dec 2022 is now finished.
          <a href="" class="rating-link">Rate Now</a>
        </p>
      </div>

      <h2 class="heading heading-hotel">Hotels 🏨</h2>
      <div class="card-box card-box-hotels">
        <div class="card card-hotel">
          <img
            src="https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80"
            alt=""
            class="card-image"
          />
          <h2 class="heading card-heading">Hotel transalvania, <span>NY</span></h2>
          <p class="heading heading-price">200$ person</p>
        </div>
        <div class="card card-hotel">
          <img
            src="https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80"
            alt=""
            class="card-image"
          />
          <h2 class="heading card-heading">Hotel transalvania, <span>NY</span></h2>
          <p class="heading heading-price">200$ person</p>
        </div>
        <div class="card card-hotel">
          <img
            src="https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80"
            alt=""
            class="card-image"
          />
          <h2 class="heading card-heading">Hotel transalvania, <span>NY</span></h2>
          <p class="heading heading-price">200$ person</p>
        </div>
        <div class="card card-hotel">
          <img
            src="https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80"
            alt=""
            class="card-image"
          />
          <h2 class="heading card-heading">Hotel transalvania, <span>NY</span></h2>
          <p class="heading heading-price">200$ person</p>
        </div>
      </div>

      <h2 class="heading heading-hotel">Tours ⛰️</h2>
      <div class="card-box card-box-hotels">
        <div class="card card-hotel">
          <img
            src="https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80"
            alt=""
            class="card-image"
          />
          <h2 class="heading card-heading">Hotel transalvania, <span>NY</span></h2>
          <p class="heading heading-price">200$ person</p>
        </div>
        <div class="card card-hotel">
          <img
            src="https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80"
            alt=""
            class="card-image"
          />
          <h2 class="heading card-heading">Hotel transalvania, <span>NY</span></h2>
          <p class="heading heading-price">200$ person</p>
        </div>
        <div class="card card-hotel">
          <img
            src="https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80"
            alt=""
            class="card-image"
          />
          <h2 class="heading card-heading">Hotel transalvania, <span>NY</span></h2>
          <p class="heading heading-price">200$ person</p>
        </div>
        <div class="card card-hotel">
          <img
            src="https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80"
            alt=""
            class="card-image"
          />
          <h2 class="heading card-heading">Hotel transalvania, <span>NY</span></h2>
          <p class="heading heading-price">200$ person</p>
        </div>
      </div>

      <h2 class="heading heading-hotel">Activities 🏊🏻‍♂️</h2>
      <div class="card-box card-box-hotels">
        <div class="card card-hotel">
          <img
            src="https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80"
            alt=""
            class="card-image"
          />
          <h2 class="heading card-heading">Hotel transalvania, <span>NY</span></h2>
          <p class="heading heading-price">200$ person</p>
        </div>
        <div class="card card-hotel">
          <img
            src="https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80"
            alt=""
            class="card-image"
          />
          <h2 class="heading card-heading">Hotel transalvania, <span>NY</span></h2>
          <p class="heading heading-price">200$ person</p>
        </div>
        <div class="card card-hotel">
          <img
            src="https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80"
            alt=""
            class="card-image"
          />
          <h2 class="heading card-heading">Hotel transalvania, <span>NY</span></h2>
          <p class="heading heading-price">200$ person</p>
        </div>
        <div class="card card-hotel">
          <img
            src="https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80"
            alt=""
            class="card-image"
          />
          <h2 class="heading card-heading">Hotel transalvania, <span>NY</span></h2>
          <p class="heading heading-price">200$ person</p>
        </div>
      </div>
    </div>
    <footer>
      <p>&copy; <a href="https://github.com/muhammadsamii">Muhammad Sami</a></p>
    </footer>
  </body>
</html>
